<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">
        New Post 
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a href="#"
       class="list-group-item clearfix"
       *ngFor="let post of posts">
        <div class="pull-left">
          <h4 class="list-group-item-heading">
            {{post.title}}
          </h4>
          <p class="list-group-item-text">
            {{post.dateCreate}}
          </p>
        </div>
        <span class="pull-right">
          <img [src]="post.imagePath" 
          alt="{{post.title}}" 
          class="img-responsive"
           style="max-height: 200px;" />
        </span>
      </a>
      <app-post-item></app-post-item>
    </div>
  </div>
  